In [125]:
import pandas as pd
import numpy as np

In [126]:
df = pd.read_csv('train.csv')
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [127]:
df.shape

(20800, 5)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [129]:
df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [130]:
df.columns

Index(['id', 'title', 'author', 'text', 'label'], dtype='object')

In [131]:
df['title'].unique()

array(['House Dem Aide: We Didn’t Even See Comey’s Letter Until Jason Chaffetz Tweeted It',
       'FLYNN: Hillary Clinton, Big Woman on Campus - Breitbart',
       'Why the Truth Might Get You Fired', ...,
       'N.F.L. Playoffs: Schedule, Matchups and Odds - The New York Times',
       'Macy’s Is Said to Receive Takeover Approach by Hudson’s Bay - The New York Times',
       'NATO, Russia To Hold Parallel Exercises In Balkans'], dtype=object)

In [132]:
df['title'].value_counts()

The Dark Agenda Behind Globalism And Open Borders                                                                              5
Get Ready For Civil Unrest: Survey Finds That Most Americans Are Concerned About Election Violence                             5
What to Cook This Week - The New York Times                                                                                    4
Televisión: lo más visto ayer                                                                                                  4
Michael Moore Owes Me $4.99                                                                                                    4
                                                                                                                              ..
Google Confirms Chrome Browser to Feature Ad-Blocker by 2018 - Breitbart                                                       1
Alaskans Brace for Spending Cuts as Oil Prices Tumble - The New York Times                                                     1
Alvin Ailey’s Robert Battle on His First Real Dance Shoes - The New York Times                                                 1
Comment on To Fight Racism, Oregon College Devotes an Entire Month to ‘Whiteness’-Shaming by That Fart You Cupped & Smelled    1
Tea Party Express Executive Director: “Conservative” Bubble Boys Risk Squandering an Historic Opportunity - Breitbart          1
Name: title, Length: 19803, dtype: int64

In [133]:
#Drop features that are not required to build our model
#doubt axis=1 or axis=colums
df= df.drop(['text','id','label'],axis=1)
df.shape

(20800, 2)

In [134]:
df.head()

                                               title              author
0  House Dem Aide: We Didn’t Even See Comey’s Let...       Darrell Lucus
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...     Daniel J. Flynn
2                  Why the Truth Might Get You Fired  Consortiumnews.com
3  15 Civilians Killed In Single US Airstrike Hav...     Jessica Purkiss
4  Iranian woman jailed for fictional unpublished...      Howard Portnoy

In [135]:
df.isnull()

       title  author
0      False   False
1      False   False
2      False   False
3      False   False
4      False   False
...      ...     ...
20795  False   False
20796  False   False
20797  False   False
20798  False   False
20799  False   False

[20800 rows x 2 columns]

In [136]:
#Data Cleaning: Handle NA values
df.isnull().sum()

title      558
author    1957
dtype: int64

In [137]:
df.shape

(20800, 2)

In [138]:
df=df.dropna()
df.isnull().sum()

title     0
author    0
dtype: int64

In [139]:
df.shape

(18285, 2)

In [140]:
df1 = df.copy()
df1.reset_index(inplace = True)
df1.head()

,index,title,author
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn
2,2,Why the Truth Might Get You Fired,Consortiumnews.com
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy

In [141]:
df1.shape

(18285, 3)

In [142]:
T = df1['title']
A = df1['author']
T.shape

(18285,)

In [143]:
T = T.reset_index()
T = T.drop(['index'], axis =1)
T.head()

                                               title
0  House Dem Aide: We Didn’t Even See Comey’s Let...
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2                  Why the Truth Might Get You Fired
3  15 Civilians Killed In Single US Airstrike Hav...
4  Iranian woman jailed for fictional unpublished...

In [144]:
T.tail()

                                                   title
18280  Rapper T.I.: Trump a ’Poster Child For White S...
18281  N.F.L. Playoffs: Schedule, Matchups and Odds -...
18282  Macy’s Is Said to Receive Takeover Approach by...
18283  NATO, Russia To Hold Parallel Exercises In Bal...
18284                          What Keeps the F-35 Alive

In [145]:
T.head()

                                               title
0  House Dem Aide: We Didn’t Even See Comey’s Let...
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...
2                  Why the Truth Might Get You Fired
3  15 Civilians Killed In Single US Airstrike Hav...
4  Iranian woman jailed for fictional unpublished...

In [146]:
import re
import string

In [147]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [148]:
def remove_punctuation(txt):
    txt_nonpunct = "".join([c for c in txt if c not in string.punctuation])
    return txt_nonpunct

In [149]:
df['title_clean'] = df['title'].apply(lambda T: remove_punctuation(T))
df.head()

,title,author,title_clean
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide We Didn’t Even See Comey’s Lett...
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,FLYNN Hillary Clinton Big Woman on Campus Bre...
2,Why the Truth Might Get You Fired,Consortiumnews.com,Why the Truth Might Get You Fired
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,15 Civilians Killed In Single US Airstrike Hav...
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Iranian woman jailed for fictional unpublished...

In [150]:
#Tokenization
import re

def tokenize(txt):
    tokens = re.split('\W+',txt)
    return tokens
df['title_clean_tokenized'] = df['title_clean'].apply(lambda T: tokenize(T.lower()))
df.head()

,title,author,title_clean,title_clean_tokenized
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide We Didn’t Even See Comey’s Lett...,"[house, dem, aide, we, didn, t, even, see, com..."
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,FLYNN Hillary Clinton Big Woman on Campus Bre...,"[flynn, hillary, clinton, big, woman, on, camp..."
2,Why the Truth Might Get You Fired,Consortiumnews.com,Why the Truth Might Get You Fired,"[why, the, truth, might, get, you, fired]"
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,15 Civilians Killed In Single US Airstrike Hav...,"[15, civilians, killed, in, single, us, airstr..."
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Iranian woman jailed for fictional unpublished...,"[iranian, woman, jailed, for, fictional, unpub..."

In [151]:
#Remove Stop Words
import nltk
stopwords =nltk.corpus.stopwords.words('english')

In [152]:
stopwords[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [153]:
def remove_stopwords(txt_tokenized):
    txt_clean = [word for word in txt_tokenized if word not in stopwords]
    return txt_clean
df['title_no_sw'] = df['title_clean_tokenized'].apply(lambda T: remove_stopwords(T))
df.head()

,title,author,title_clean,title_clean_tokenized,title_no_sw
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide We Didn’t Even See Comey’s Lett...,"[house, dem, aide, we, didn, t, even, see, com...","[house, dem, aide, even, see, comey, letter, j..."
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,FLYNN Hillary Clinton Big Woman on Campus Bre...,"[flynn, hillary, clinton, big, woman, on, camp...","[flynn, hillary, clinton, big, woman, campus, ..."
2,Why the Truth Might Get You Fired,Consortiumnews.com,Why the Truth Might Get You Fired,"[why, the, truth, might, get, you, fired]","[truth, might, get, fired]"
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,15 Civilians Killed In Single US Airstrike Hav...,"[15, civilians, killed, in, single, us, airstr...","[15, civilians, killed, single, us, airstrike,..."
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Iranian woman jailed for fictional unpublished...,"[iranian, woman, jailed, for, fictional, unpub...","[iranian, woman, jailed, fictional, unpublishe..."

In [154]:
#stemming
#poter stemmer
import nltk
from nltk.stem import PorterStemmer

In [155]:
ps=PorterStemmer()
dir(ps)

['MARTIN_EXTENSIONS',
 'NLTK_EXTENSIONS',
 'ORIGINAL_ALGORITHM',
 '__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_abc_impl',
 '_apply_rule_list',
 '_contains_vowel',
 '_ends_cvc',
 '_ends_double_consonant',
 '_has_positive_measure',
 '_is_consonant',
 '_measure',
 '_replace_suffix',
 '_step1a',
 '_step1b',
 '_step1c',
 '_step2',
 '_step3',
 '_step4',
 '_step5a',
 '_step5b',
 'mode',
 'pool',
 'stem',
 'unicode_repr',
 'vowels']

In [156]:
def stemming(tokenizes_txt):
    txt=(ps.stem(word) for word in tokenizes_txt )
    return txt

In [157]:
df['title_stemmed'] = df['title_no_sw'].apply(lambda T : stemming(T))
df.head()

,title,author,title_clean,title_clean_tokenized,title_no_sw,title_stemmed
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide We Didn’t Even See Comey’s Lett...,"[house, dem, aide, we, didn, t, even, see, com...","[house, dem, aide, even, see, comey, letter, j...",<generator object stemming.<locals>.<genexpr> ...
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,FLYNN Hillary Clinton Big Woman on Campus Bre...,"[flynn, hillary, clinton, big, woman, on, camp...","[flynn, hillary, clinton, big, woman, campus, ...",<generator object stemming.<locals>.<genexpr> ...
2,Why the Truth Might Get You Fired,Consortiumnews.com,Why the Truth Might Get You Fired,"[why, the, truth, might, get, you, fired]","[truth, might, get, fired]",<generator object stemming.<locals>.<genexpr> ...
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,15 Civilians Killed In Single US Airstrike Hav...,"[15, civilians, killed, in, single, us, airstr...","[15, civilians, killed, single, us, airstrike,...",<generator object stemming.<locals>.<genexpr> ...
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Iranian woman jailed for fictional unpublished...,"[iranian, woman, jailed, for, fictional, unpub...","[iranian, woman, jailed, fictional, unpublishe...",<generator object stemming.<locals>.<genexpr> ...